<app-page-header header_title="Dashboard" header_subtitle="Expand your universe." [header_img]="'assets/img/dashboard-bg.jpg'">
</app-page-header>
<!-- Main Content -->
<div class="container">
  <div class="row text-center">
    <div class="col" *ngIf="afAuth.user | async as user; else showLogin">
      <a class="btn btn-success" style="margin-bottom: 20px" routerLink="/dashboard/create">Create post</a>
      <div class="card" style="margin-bottom: 20px" *ngFor="let item of items | async">
        <div class="card-body">
          <h4 class="card-title">{{ item.title }}</h4>
          <p class="card-text">{{ item.sub_title }}</p>
          <a routerLink="/dashboard/edit/{{item.id}}" class="card-link btn btn-info">Edit</a>
          <button (click)="deletePost(item.id)" class="card-link btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
    <ng-template #showLogin>
      <div class="row ">
        <button class="btn btn-primary" style="margin: auto" (click)="login()">Login with Google</button>
      </div>
    </ng-template>
  </div>
</div>